parameters:
    level: 5
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
        - tests
    ignoreErrors:
            -
              message: '#Property [a-zA-Z0-9\\_]+::\$(.*) is never (written|read), only (written|read).#'
              paths:
               - src/*/Domain/Aggregate/*