parameters:
    level: 5
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src

services:
    -
        class: App\Core\PHPStan\QueryBusDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension